*.pyc
*~
Makefile.in
Makefile

/autom4te.cache
/aclocal.m4
/compile
/config.log
/config.status
/configure
/install-sh
/missing
/py-compile

/bin/acm-dump
/bin/lcp-dump
/bin/pcr17
/bin/pcr18
/bin/sinithash
/bin/txtheap-dump
