*.pyc
*~
Makefile.in
Makefile

autom4te.cache
aclocal.m4
compile
config.log
config.status
configure
depcomp
install-sh
missing
py-compile

bin/.deps
bin/acm-dump
bin/lcp-def
bin/lcp-def.o
bin/lcp-dump
bin/mlehash
bin/module-hash
bin/pcr17
bin/pcr18
bin/pcr19
bin/pcremu
bin/sinithash
bin/txtheap-dump
